body{
    background-image: url("../images/slc.webp");
    background-repeat: no-repeat;
    height: 100vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    /* margin-left: 10px;
    margin-right: 10px; */
    
}

html {
    width: 100%;
    margin: 0;
    padding: 0;
}

#proptable{
    background-color: rgb(218, 218, 218);
    padding: 100px;
    border: 3px solid black;
    margin-right: 50px;
}

#mainlogo{
    width: 500px;
}

#floatlogo{
    /* border: 3px solid black; */
    margin: auto;
    
    width: 50%;   
}

#signin{
    /* border: 1px solid grey; */
    background-color: white;
    border-radius: 25px;
}

/* #mainpage{
    margin: auto;
    width: 50%;   
    background-color: aliceblue;
    
} */

#edit_form{
    margin: auto;
    width: 50%;
}

#propertycard{
    margin: auto;
    width: 29%;
    border: 3px solid black;

}

#property_search{
    margin: auto;
    width: 50%;    
}

#watchsearchbar{
    margin-top: 5px;
}

#watchlist_header{
    margin: auto;
    width: 50%; 
}

#loginform{
    margin: auto;
    width: 50%;
}

#jumbo{
    font-weight: bold;
    margin-left: 100px;
    margin-right: 300px;
}

#jumbotitle{
    font-weight: 900;
}

#jumbosub{
    font-weight: bold;
}

#loginlogo{
    margin: auto;
    width: 20%;
}

.nav-link {
    /* color: white; */
    font-weight: bold;
} 


 .navbar-brand{
    /* color: white; */
    font-weight: bold;
}

#navnav{
    color: white;
}

#thenavbar{
    /* background-color:black; */
    margin-top: 20px;
    margin-bottom: 25px;
    height: 100px;
}



#carouselExampleFade{
    width: 200px;
    height: 120px;   
    position: fixed; /* or absolute */
    top: 50%;
    left: 30%; 
}


.column {
    float: left;
    width: 19%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

