{% extends 'base.html.j2' %}

{% block title %}
    Homepage
{% endblock %}

{% block content %}

<div class="jumbotron" id="jumbo">
  <h1 class="display-4" id="jumbotitle">Welcome to Property Watch!</h1>
  <p class="lead" id="jumbosub">We help you track properties of interest by integrating with the country's most popular real estate websites.</p>
  <hr class="my-4">
  <p>Start adding your favorite properties to your watchlist now!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{{url_for('main.property_search')}}" role="button">Let's Get Started</a>
  </p>
</div>

{% endblock %}