{% extends 'base.html.j2' %}

{% block css %}
    <link rel="stylesheet" href="main.css">
{% endblock %}

{% block title %}
    Property Search
{% endblock %}

{% block content %}
{% if property %}

<div class="card mb-3" id="propertycard">
  <img class="card-img-top" src="{{property.photo}}" alt="Property image">
  <div class="card-body">
    <h5 class="card-title">{{property.home_address}}</h5>
    <h5>{{property.city}}, {{property.state}} </h5>
    <h5>Price: {{property.price}}</h5>
    <h5>Market Status: {{property.market_status}}</h5>
    <h5>Agent Name: {{property.agent_name}}</h5>
    <h5>Agent Phone: {{property.agent_phone}}</h5>
    <h5>Agent Email: {{property.agent_email}}</h5>
    <h5>Days on Market: {{property.days_on_zillow}}</h5>
  </div>
</div>

{% endif %}


</form>    
{% endblock %}