{% extends 'base.html.j2'%}
{% block title %}
    {% if current_user.is_authenticated %}
        Edit Profile
    {% else %}
        Register
    {% endif %}
{% endblock %}

{% block content %}
<div id="edit_form">
    <div class="mb-3">
    <h1>
    {% if current_user.is_authenticated %}
        Edit Profile
    {% else %}
        Register
    {% endif %}
    </h1>
    <form action="{{url_for('auth.edit_profile') if current_user.is_authenticated else url_for('auth.register')}}" method="POST">
    {{form.hidden_tag()}}
    </div>
    <div class="mb-3">
        {{form.first_name.label(class="form-label")}}
        {{form.first_name(class="form-control", value=current_user.first_name)}}
        {% for error in form.first_name.errors%}
            <small style="color:red">{{error}}</small>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{form.last_name.label(class="form-label")}}
        {{form.last_name(class="form-control", value=current_user.last_name)}}
        {% for error in form.last_name.errors%}
            <small style="color:red">{{error}}</small>
        {% endfor %}
    </div>

    <div class="mb-3">
        {{form.email.label(class="form-label")}}
        {{form.email(class="form-control", value=current_user.email)}}
        {% for error in form.email.errors%}
            <small style="color:red">{{error}}</small>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{form.password.label(class="form-label")}}
        {{form.password(class="form-control")}}
        {% for error in form.password.errors%}
            <small style="color:red">{{error}}</small>
        {% endfor %}
    </div>
        <div class="mb-3">
        {{form.confirm_password.label(class="form-label")}}
        {{form.confirm_password(class="form-control")}}
        {% for error in form.confirm_password.errors%}
            <small style="color:red">{{error}}</small>
        {% endfor %}
        {{form.submit(class="btn btn-primary")}}<br>
         <small style="color:red">{{error}}</small>
    </div>
    </form>
</div>    
{% endblock %}