{% extends 'base.html.j2'%}
{% block title %}
    {% if current_user.is_authenticated %}
        Edit Profile
    {% else %}
        Register
    {% endif %}
{% endblock %}

{% block content %}

<h1>Catch a Pokemon!</h1>
<form action="/catch_pokemon" method="POST">
  <div class="mb-1">
    <label for="name" class="form-label">What Pokemon would you like to catch?</label>
    <input type="text" name = "name" class="form-control" id="name">
  </div>
  <button type="search" class="btn btn-primary">Catch!</button>

{% if pokemon %}
  
  <h5>Name: {{pokemon.name.title()}}</h5>
  <h5>Ability: {{pokemon.ability.title()}}</h5>
  <h5>Defense Base Stat: {{pokemon.defense_stat}}</h5>
  <h5>Attack Base Stat: {{pokemon.attack_base_stat}}</h5>
  <h5>HP Base Stat: {{pokemon.hp_base_stat}}</h5>
  <img src="{{pokemon['photo']}}" width="500" height="500" id='poke_photo'>
  
{% endif %}

{% endblock %}


